{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
Your final results
{% endblock %}
{% block content %}
<style>
    .info {
        padding: 20px;
        background-color: rgb(202, 186, 15);
        color: white;
    }
</style>

<h4 class="info">Congratulations! You have completed the experiment.</h4>
Your final payment is {{payoff}} from trading period {{ selected_round }}.
Your cash payment is the final payment converted to US dollar, plus the 5 dollar show-up fee.
The payment will be sent through Venmo in 48 hours.
Please come to the front desk with the token and your student ID.
Thank you again for your participation!
{% endblock %}
