{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Experimental Instruction
{% endblock %}

{% block content %}

<h4>Basic Idea</h4>
<p>
In the main part of the experiment, you will interact with other traders in 15 trading periods, each lasting approximately 150 seconds.
The traders remain the same in each trading period, but are randomly regrouped between trading periods.
In each trading period, you will simultaneously trade {{ num_assets }} risky asset(s) (labelled from A to Z, depending on the number of assets) with other traders,
using computerized trading screens.
The return of the assets depends on the state of the assets. There are {{ num_states }} possible states.
In each trading period, traders are informed publicly of the number of assets, the number of all possible states,
the probability of each state, and the return of the assets at each state.
</p>

{% if state_independent %}
<p>
During each trading period, the traders trade assets in the market but you do NOT know the true state of the assets.
<b>The state of each asset is drawn independently. That is, it is possible that the assets have different states.</b>
At the end of the trading period, the computer tosses a 10-sided dice FOR EACH ASSET, and randomly assigns the true states of the assets based on the probability of each state.
Your payoff in each trading period depends on the number of each type of assets you own and the true state of each assets.
</p>

<p>
For example, suppose that there are two states: state 1 with probability 40% and state 2 with probability 60%.
You do NOT know which state will become the true state during the trading period.
At the end of the trading period, the true state of each asset will be randomly determined based on the probabilities of the two states.
Since the computer uses a 10-sided fair dice, throwing 1-4 means state 1 is chosen, while throwing 5-10 means state 2 is chosen.
If there are two assets, it is possible that Asset A is in state 1 and Asset B is in state 2.
</p>
{% else %}
<p>
During each trading period, the traders trade assets in the market but you do NOT know the true state of the assets.
<b>The assets share the same state.</b>
At the end of the trading period, the computer tosses a 10-sided dice, and randomly assigns the true state of the assets depending on the probability of each state.
Your payoff in each trading period depends on the number of each type of assets you own and the true state of the assets.
</p>

<p>
For example, suppose that there are two states: state 1 with probability 40% and state 2 with probability 60%.
You do NOT know which state will become the true state during the trading period.
At the end of the trading period, the true state will be randomly determined based on the probabilities of the two states.
Since the computer uses a 10-sided fair dice, throwing 1-4 means state 1 is chosen, while throwing 5-10 means state 2 is chosen.
</p>
{% endif %}



<h4>How to Trade</h4>
<p>
When you enter a trading period, you will start to interact with the user interface.
The figure below shows an example of the user interface with 2 states and 2 assets.
<b>Please be aware that the example figures (this one and the other one below) only show you what the user interface looks like,
and does NOT indicate what game strategy you should use.</b>
</p>

<img src="{% static 'salience_market/ui_decision.png' %}" width="100%" height="auto"/>

<p>
The user interface can be divided into multiple boxes:
</p>

<p>
There is a timer on the top counting down the time left.
Below the timer, you can see the information about the trading period, including the current trading period number,
the total number of traders, the number of possible state of the assets, the probability of each state,
and the return of each asset at each state. Please read the information carefully before you start to trade.
You will also see a notice if the current trading period is a practice period.
The practice period will not be considered for determining your final payoff.
</p>

<p>
Below the trading period information, you can see the trading boxes for each asset, respectively.
Each asset has its own trading box. In the example figure, since there are two assets A and B, you can see the trading boxes for Asset A on the left,
and the boxes for Asset B on the right. In each trading box,

<ul>
  <li>
    The "Bids" box shows the prices at which traders are offering to buy units of the assets.
    Bids are ordered from high to low since the highest bids are the most attractive offers to other traders.
  </li>
  <li>
    The "Asks" box shows the prices at which sellers are offering to sell units.
    Likewise, asks are ordered from low to high since the lowest is the most attractive offer to other traders.
  </li>
  <li>
    If two bids/asks have the same price, the earlier offers will be displayed above the later ones.
    A bid/ask with a red "X" button on the right indicates your own offer, and you can cancel your offer by pressing the "X" button.
  </li>
  <li>
    The "Trades" box in the middle shows the successful trading history in the market with the most recent trades on the top.
  </li>
  <li>
    To distinguish your orders from other participants' orders, your orders (bids,asks,trades) are highlighted.
  </li>
</ul>
</p>

<p>
You can submit a bid (buy offer) by typing in your price in the “Bids” box and then click the "Buy" button.
Likewise, to offer to sell a unit, you type in the price in the “Asks” box and click the "Sell" button.
You can place multiple bids and asks at the same time.
If your bid is higher than the best ask in the market, you will immediately buy a unit at that best ask.
Similarly, entering an ask below the best bid held by someone else amounts to accepting that best bid.
You can also directly accept someone else’s bid or ask by double clicking on it, and then click Accept in the pop-up window.
</p>

<p>
To conclude, you can buy a unit of asset by submitting your bid or accepting others' ask.
You can sell a unit of asset by submitting your ask or accepting others' bid.
In general, it is more profitable to buy low and sell high.
You should also NOT buy an asset when its price exceeds its maximum possible return,
or sell an asset when its price is below its minimum possible return.
Check the trading window and see whether your buy price seems low, and your sell price seems high compared to the other prices in this period.
</p>

<p>
The trader information box on the bottom left tells you your current cash holding and asset holding.
The box will update whenever you make an action.
You will start with some units of assets and some cash at the beginning of each trading period.
The settled cash refers to the cash you own at hand,
the available cash refers to the cash available to buy (Settled Cash - Your Total Bids).
For each asset row,

<ul>
  <li>the Available column refers to the number of assets available to trade (Settled - Offered);</li>
  <li>the Settled column refers to the number of assets you currently own;</li>
  <li>the Requested column refers to the total number of bids;</li>
  <li>the Offered column refers to the total number of asks.</li>
</ul>
</p>

<p>
The log box on the bottom right records all your actions and will tell you if you made mistakes,
such as trying to sell an asset when you currently hold zero units of that asset.
</p>



<h4>Payment</h4>
<p>
At the beginning of the trading period, you are endowed with some cash and some assets.
At the end of the trading period, you will see a result page that summarizes your actions and performance.
The result page reveals the true state of the assets and reminds you of your final asset holding.
The page also shows the total payoff for this trading period.
Your total payoff will be your remaining settled cash + your earnings from your final asset holding.
You can think of cash as a risk-free asset which provides you a guaranteed 1:1 return, while the tradable assets are risky.
</p>

<p>
After the result page, all traders will move on together to the next trading period.
</p>

<p>
The figure below shows an example of the result page, and you can clearly see the payoff you get in this trading period.
From the figure, you can see that the true state of both assets is "state 3", your remaining cash is 1029 points,
and you own 2 units of Asset A which pays 80 points per unit under state 3. You also own 3 units of Asset B that pays 120 per unit under state 3.
So your final payoff is 80*2 + 120*3 + 1029 = 1549 points.
</p>

<img src="{% static 'salience_market/ui_result.png' %}" width="80%" height="auto"/>

<p>
At the end of the experiment, the system will randomly choose a nonpractice trading period,
and your final payoff from this experiment is your payoff of that trading period (converted to US dollar), plus your show-up fee.
So your objective is to try to maximize your payoff at every non-practice trading period.
</p>

<p>
If you are ready for the experiment, please raise your hand. The experiment starts when everyone is ready.
</p>


{% endblock %}
