{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Experiment: Main Part
{% endblock %}

{% block content %}

<p>
Welcome, and thank you for participating!
</p>

<p>
From now until the end of the experiment, please stay focused on the task at hand, as your payment highly depends on your performance in the experiment.
If you have any questions, please raise your hand and the experimenter will answer your question.
Please mute your cell phone and do not communicate with other participants in the room.
The experiment lasts about an hour.
</p>

<p>
During the experiment, you will earn points in each trading period.
At the end of the experiment, one trading period will be randomly chosen, from which your points will be converted to US dollars.
The rate is not determined in this pilot session. But participants usually earn around 15 US dollars per hour.
You are guaranteed a show-up fee of $5.00 but can earn considerably more.
</p>

<p>
Please press next to read the experimental instruction.
</p>

    {% next_button %}

{% endblock %}
